body {
    background-image: url(static/img/email-pattern.png);
}
.navbar-brand {
    font-family: 'Acme', sans-serif;
    font-size: 32px;
}
#mainMenu {
    justify-content: flex-end; 
    /* font-size: 32px; */
}

