{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Reset your password</h3>
                    <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-secondary my-2">Return to log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}