{% extends 'base.html' %}

{% block title %}Change password{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock breadcrumb %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
          <div class="card-body">
              <form method="post" novalidate>
                  {% csrf_token %}
                  {% include 'includes/form.html' %}
                  <div class="d-grid">
                      <button type="submit" class="btn btn-success">Change password</button>
                  </div>
                </form>
          </div>
      </div>
    </div>
  </div>
{% endblock content %}